{% extends 'misitio/base.html' %}
{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5" xmlns="http://www.w3.org/1999/html">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-md-10 mx-auto col-lg-5">
        {% csrf_token %}
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" action="/cliente/login">
          <h2 class="pb-2">Inicio de sesión</h2>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email">
            <label for="email">{{ form.email.label }}</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password">
            <label for="passwd">Password</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me">
                Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
          <small class="text-muted mt-2">¿No tienes cuenta? <a href="/cliente/registro">Regístrate</a></small>
          <hr class="my-4">
          <small class="text-muted"></small>
        </form>

      </div>
    </div>
  </div>

{% endblock %}