{% extends 'misitio/base.html' %}

{% block navbar %}

<div class="navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/cuenta">Cuenta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark border-bottom border-primary disabled" href="/ventas">Venta / Alquiler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/servicios">Servicios</a>
        </li>
    </ul>
</div>

{% endblock navbar %}


{% block content %}

<header>
    <h4>Ventas / alquiler</h4>
</header>



{% endblock content %}