<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Misitio</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abel&display=swap">
    <link rel="stylesheet" href="{% static 'css/misitio.css' %}">
</head>
<body>

    <div class="page-header">
        <h2><a href="/">Página web de proyecto</a></h2>
        <a href="{% url 'cliente_new' %}" class="top-menu"><span class="glyphicon-plus">Alta cliente</span> </a>
        <a href="#" class="top-menu"><span class="glyphicon-minus">Baja cliente</span> </a>
    </div>

    <div class="content">

        <div class="row">

            {% block content %}
            {% endblock content %}

        </div>

    </div>

</body>
</html>