<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Misitio</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

<h2><a href="/">Página web de proyecto</a></h2>

    {% for cliente in clientes %}
    <p>-----------</p>
    <div>
        <p>DNI: {{cliente.dni}} Nombre: {{cliente.nombre}} Fecha alta: {{cliente.alta}}</p>
        <p>Dir: {{cliente.direccion}} Móvil: {{client.movil}}</p>
    </div>
    <p>-----------</p>
    {% endfor %}
</body>
</html>