{% extends 'misitio/base.html' %}
{% load mult %}

{% block navbar %}

<div class="navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/cuenta">Cuenta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ventas">Venta / Alquiler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/servicios">Servicios</a>
        </li>
    </ul>
</div>

{% endblock navbar %}


{% block content %}

<div class="d-flex min-vw-100 pb-4 justify-content-center ">

  <div class="container  text-center bg-light p-4 border-bottom rounded-bottom border-end border-start border-dark">

        <div class="row text-light p-4 my-3 bg-dark border border-dark rounded-3">

            <div class="col-sm-2">

                <img class="img-fluid border border-2 border-dark rounded-2" src="../../static/img/{{vinilo.imagen}}"/>

            </div>
            <div class="col">

                <h1 class="text-start">{{vinilo.nombre}}</h1>

                <h2 class="text-start">{{vinilo.artista}}</h2>

            </div>

        </div>

        <h3 class="text-start">Detalles</h3>

        <hr/>

        <form action="./compra" method="POST" class="col text-start px-4">

            {% csrf_token %}

            <input type="hidden" name="album_id" value="{{vinilo.id}}">

            <div class="row my-3">

                <div class="col-sm-1 ">
                    <label>Cantidad: </label>
                </div>

                <div class="col-sm-9">

                    {% if cantidad != -1 %}

                        <input disabled="disabled" type="number" min="1" max="10" name="cantidad" value="{{cantidad}}">

                    {% else %}

                        <input type="number" min="1" max="10" name="cantidad" value="1">

                    {% endif %}

                </div>

            </div>

            <div class="row my-3">

                <div class="col-sm-1 ">
                    <label>Correo: </label>
                </div>

                <div class="col-sm-9">

                    {% if email == "" %}

                        <input type="email" min="1" max="10" value="{{email}}" name="user_email">

                    {% else %}

                        <input disabled="disabled" type="email" min="1" max="10" value="{{email}}" name="user_email">

                    {% endif %}

                </div>

            </div>

            {% if cantidad == -1 %}

                <div class="row w-25">

                    <input type="submit" value="Confirmar" class="btn btn-primary"/>

                </div>

            {% endif %}

        </form>

        {% if cantidad != -1 %}

            <h3 class="text-start">Total</h3>

            <hr/>

            <div class="col text-start px-4">

                <div class="row my-3">

                    <div class="col-sm-2 ">
                        <label>Precio unitario: </label>
                    </div>

                    <div class="col-sm-9">
                        <label>{{vinilo.precio}}€</label>
                    </div>

                </div>

                <div class="row my-3">

                    <div class="col-sm-2 ">
                        <label>Cantidad: </label>
                    </div>

                    <div class="col-sm-9">
                        <label>x {{cantidad}}</label>
                    </div>

                </div>

                <div class="row my-3">

                    <div class="col-sm-2 ">
                        <p class="text-black bold underline">Total: </p>
                    </div>

                    <div class="col-sm-9">
                        <label>{% mult cantidad vinilo.precio %}€</label>
                    </div>

                </div>

            </div>

            <h3 class="text-start">Métodos de pago</h3>

            <hr/>

            <div class="rounded-2 py-4 px-4  border border-2 border-black w-50">
            <h5>Pago con tarjeta</h5>

            <div class="row">
                <div class="col-sm">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="nombre">
                    <label for="nombre">Nombre</label>
                </div>
                </div>
                <div class="col-sm">
                    <div class="form-floating mb-2">
                        <input type="number" class="form-control" id="numero">
                        <label for="numero">Numero</label>
                    </div>
                </div>
            </div>

            <div class="row py-2">
                <div class="col-sm">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="direccion">
                    <label for="direccion">Dirección</label>
                </div>
                </div>
                <div class="col-sm">
                    <div class="form-floating mb-2">
                        <input type="number" maxlength="3" class="form-control" id="cvs">
                        <label for="cvs">CVS</label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-floating mb-2">
                        <input type="date" class="form-control" id="validez">
                        <label for="validez">Fecha validez</label>
                    </div>
                </div>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Confirmar</button>
        </div>

        {% endif %}


    </div>

</div>



{% endblock content %}