{% extends 'misitio/base.html' %}

{% block navbar %}

<div class="navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/cuenta">Cuenta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ventas">Venta / Alquiler</a>
        </li>
        <li class="nav-item border-bottom border-primary">
            <a class="nav-link text-dark disabled" href="/servicios">Servicios</a>
        </li>
    </ul>
</div>

{% endblock navbar %}


{% block content %}

<header class="text-center my-5">
    <h1>Planes</h1>
</header>

<div class="d-flex justify-content-center">

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Básico</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">5€<small class="text-muted fw-light">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>3 vinilos al mes</li>
              <li>Fianza de 20€ <small class="text-muted">(hasta final de servicio)</small></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary"><a class="text-decoration-none" href="/servicios/planes?plan=base">Entrar en plan</a></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">15€<small class="text-muted fw-light">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>6 vinilos al mes</li>
              <li>Fianza de 10€ <small class="text-muted">(hasta final de servicio)</small></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary"><a class="text-decoration-none text-white" href="/servicios/planes?plan=pro">Entrar en plan</a></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Ilimitado</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">30€<small class="text-muted fw-light">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Vinilos ilimitados al mes</li>
                <li>Descuento de 10% en compras de vinilos </li>
                <li>Sin necesidad de fianza</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary"><a class="text-decoration-none text-white" href="/servicios/planes?plan=ilimitado">Entrar en plan</a></button>
          </div>
        </div>
      </div>
    </div>

</div>

{% endblock content %}